<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camera</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="refresh()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bylh-camera">
  <ion-searchbar [(ngModel)]="params.query" (ionChange)="searchPhotos()" [debounce]="1000" placeholder="Search"></ion-searchbar>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col class="photo-col" size="12" *ngFor="let photo of photoService.randomPhotos">
        <img (click)="previewImg(photo.urls.regular)" class="img" [src]="photo.urls.small" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
